    <body scroll="no">
        <%= render :file => 'quran/index.css.erb' %>
        <%= render :file => 'quran/index.js.erb' %>

        <div id="x-desktop">
            <!--<a href="http://quran.com" target="_blank" style="margin:5px; float:right;"><img src="images/logo.gif" /></a>-->
            <dl id="x-shortcuts">
                <dt id="quran-reader-shortcut">
                    <a href="#"><img src="images/s.gif" />
                        <div>Quran Reader</div>
                    </a>
                </dt>
                <!--
                <dt id="acc-win-shortcut">
                    <a href="#"><img src="images/s.gif" />
                        <div>Tafseer</div>
                    </a>
                </dt>
                <dt id="tab-win-shortcut">
                    <a href="#"><img src="images/s.gif" />
                        <div>Translation</div>
                    </a>
                </dt>
                <dt id="tab-win-shortcut">
                    <a href="#"><img src="images/s.gif" />
                        <div>Pronounciation</div>
                    </a>
                </dt>
                <dt id="tab-win-shortcut">
                    <a href="#"><img src="images/s.gif" />
                        <div>Recitation</div>
                    </a>
                </dt>
                <dt id="tab-win-shortcut">
                    <a href="#"><img src="images/s.gif" />
                        <div>Forums</div>
                    </a>
                </dt>
                -->
            </dl>
        </div>
        <div id="ux-taskbar">
            <div id="ux-taskbar-start"></div>
            <div id="ux-taskbuttons-panel"></div>
            <div class="x-clear"></div>
        </div>
    </body>
