<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
        <link rel="stylesheet" type="text/css" href="lib/ext/resources/css/ext-all.css"/> 
        <title>Q</title>
        <script type="text/javascript" src="jquery.pack.js"></script>
        <script type="text/javascript" src="lib/ext-jquery-adapter.js"></script>
        <script type="text/javascript" src="lib/ext/ext-all.js"></script>
        <script type="text/javascript" src="lib/ext-plugins.js"></script>
    </head>
    <%= yield %>
</html>
