/*
body {
 font:normal 75% verdana,tahoma,arial,"sans serif";
 background:#000;
 color:#fff;
}
*/

/*

 GENERAL RANT AWARENESS NOTICE
 -----------------------------
 You may see some complaining about Internet Explorer, PNG and opacity-related hacks.
 Even the new (at time of writing, 12/2006) IE 7 has issues and other quirks. Too bad.

*/
.player * {
    font-size: 10px;
    font-family: Verdana, Tahoma, Arial, sans-serif;
    color: black;
}
.player {
 position:absolute;
 /*position:absolute;
 left:0.25em;
 top:0.5em;*/
 padding:1px;
 z-index:9999999;
 height:40px;
 font:normal x-small/19px arial,verdana,tahoma,"sans serif";
 /**line-height:19px;*/
 color:#4f4f4f;
 /*zoom:1;*/
}
.player .split-points {
 height: 18px;
 position: absolute;
 top: 22px;
}
.player .split-points .left, .player .split-points .mid, .player .split-points .right {
 position: relative;
 display: inline;
 float: left;
}
.player .split-points .left {
 width: 16px;
 height: 18px;
}
.player .split-points .mid {
 border-top: 1px dotted #99ccff;
 margin-left: 1px;
 height: 18px;
 width:224px;
}
.player .split-points .mid .point {
}
.player .split-points .mid .point a {
 width: 16px;
 height: 18px;
}
.player .split-points .mid .point div {
 display: block;
 float: left;
 cursor: pointer;
 width: 16px;
 height: 18px;
 background:transparent url(../img/icons/fam/png/tag_blue.png) 0px 0px no-repeat;
}
.player .ui {
 height: 20px;
 _filter:none; /* IE <7 sucks */
 float: left;
}
.player.altFont {
 /* font tweaks for mac which has tighter spacing */
 letter-spacing:0px;
}

.player,
.player .more-options {
 /*width:284px;*/
}

/*.player .ui,*/
.player .more-options {
 float: right;
 position: relative;
 right: 159px;
 top: 26px;
 xfilter:alpha(opacity=90); /* Even IE 7 (still) sucks! */
 opacity:0.9;
}


.player.noOpacity .ui {
 /* Safari (1.3.2 at least?) has render bugs with UI display + animated PNG progress bar when applying opacity */
 opacity:1;
}

.player .ui:hover {
 opacity:1;
 filter:none;
}

.player a:focus {
 outline:none;
}

.player .ui .left,
.player .ui .mid,
.player .ui .right {
 position:relative;
 float:left;
 display:inline;
 height:20px;
 color:#4f4f4f;
}

.player .ui .left {
 width:15px;
 background:transparent url(../img/player/skin-3-ui.png) 0px 0px no-repeat;
 _background-image:url(../img/player/skin-3-ui.gif); /* IE <7 */
}

.player .ui .left .trigger,
.player .ui .left .trigger span {
 display:block;
 width:15px;
 height:20px;
}

.player .ui .left .trigger.pauseplay span {
 background:transparent url(../img/player/right-arr1.png) 5px 6px no-repeat;
 _background-image:url(../img/player/right-arr1.gif);
}

.player .ui .left .trigger.pauseplay span.playing {
 /* class applied while playing */
 background-image:url(../img/player/sec-left-pause-1.gif);
 background-position:6px 7px;
}

.player .ui .left .trigger:hover {
 background:transparent url(../img/player/ui-highlight-1.png) 2px 0px no-repeat;
 _background-image:url(../img/player/ui-highlight-1.gif);
 _background-position:2px 0px;
}

.player .ui .left .trigger.pauseplay:hover span {
 background:transparent url(../img/player/right-arr0.png) 5px 6px no-repeat;
 _background-image:url(../img/player/right-arr2.gif);
}

.player .ui .left .trigger.pauseplay:hover span.playing {
 background-image:url(../img/player/sec-left-pause.gif);
 background-position:6px 7px;
}

.player .ui .mid {
 position:relative;
 width:223px;
 _width:224px;
 background:transparent url(../img/player/skin-3-ui.png) -14px 0px no-repeat;
 _background-image:url(../img/player/skin-3-ui.gif);
}

.player .ui .mid .info {
 position:absolute;
 left:0px;
 top:0px;
 width:100%;
 height:20px;
 overflow:hidden;
 text-indent:2px;
 z-index:2;
 cursor:default;
}

.player .ui .mid .progress {
 position:relative;
 display:block;
 width:1px;
 height:13px;
 margin:4px 0px 0px 0px;
 background-color:#eee;
}

.player .ui .mid .progress.loading {
 background:transparent url(../img/player/sec-mid-loaded-light.png) 0px 0px repeat-x;
 position:relative;
 display:block;
 width:1px;
 border-right:1px solid #eee;
}

.player .ui .mid .slider {
 position:absolute;
 display:block;
 border-left: 1px solid transparent;
 border-right: 1px solid transparent;
 width:5px;
 height:13px;
 left:0px;
 top:0px;
 margin-top:4px;
 background:transparent url(../img/player/slider-2.png) 0px 0px no-repeat;
 _background-image:url(../img/player/slider-2.gif);
 /*z-index:1; swap between 1 and 2 to position on top */
 z-index:3;
 opacity:0.25;
 -moz-opacity:0.25;
 filter:alpha(opacity=25);
 /* filter:alpha(opacity=95); IE7 still messes up alpha transparency with PNGs when applying filters. Boo urns. */
}
.player .ui .mid .range-start {
 position:absolute;
 display:block;
 border-right: 3px solid transparent;
 width:5px;
 height:13px;
 left:0px;
 top:0px;
 margin-top:4px;
 background: url(../img/player/range_handle_start.png) no-repeat 0px 0px;
 z-index:2; /* swap between 1 and 2 to position on top */
/* z-index:2;*/
 opacity:1.00;
 -moz-opacity:1.00;
 filter:alpha(opacity=100);
 /* filter:alpha(opacity=95); IE7 still messes up alpha transparency with PNGs when applying filters. Boo urns. */
}
.player .ui .mid .range-end {
 position:absolute;
 display:block;
 border-left: 3px solid transparent;
 border-right: 1px solid transparent;
 width:5px;
 height:13px;
 left:0px;
 top:0px;
 margin-top:4px;
 background: url(../img/player/range_handle_end.png) no-repeat 0px 0px;
/* z-index:1; swap between 1 and 2 to position on top */
 z-index:2;
 opacity:1.00;
 -moz-opacity:1.00;
 filter:alpha(opacity=100);
 /* filter:alpha(opacity=95); IE7 still messes up alpha transparency with PNGs when applying filters. Boo urns. */
}

.player .ui .mid.hover .slider,
.player .ui .mid:hover .slider {
/*
 z-index:2;
 opacity:0.95;
 filter:filter:alpha(opacity=95);
*/
}

.player .ui .mid .range-start.active {
 opacity:1.00;
 -moz-opacity:1.00;
 filter:alpha(opacity=100);
}
.player .ui .mid .slider.active {
 opacity:0.50;
 -moz-opacity:0.50;
 filter:alpha(opacity=50);
}
.player .ui .mid .range-end.active {
 opacity:1.00;
 -moz-opacity:1.00;
 filter:alpha(opacity=100);
}

.player .ui .mid .text,
.player .ui .mid .default,
.player .ui .mid .seek,
.player .ui .mid .divider {
 display:none;
}

.player .ui .mid .caption {
 *position:absolute; /* required for scroll positioning to work under IE */
 display:inline;
 white-space:nowrap;
 visibility:hidden; /* hidden by default */
}

.player .ui .mid .seek {
 position:absolute;
 left:0px;
 top:0px;
 text-indent:2px;
}

.player .ui .right {
/*
 width:18px;
 width:45px;
*/
 background:transparent url(../img/player/skin-3-ui.png) 100% 0px no-repeat;
 _background-image:url(../img/player/skin-3-ui.gif);
 margin-left:1px;
 _margin-left:0px; /* IE <7 sucks. */
}

.player .ui .right .divider {
 /* one-pixel visual divider between bar / cap (yep, this is a UI nit-pick.) */
 float:left;
 display:inline;
 width:1px;
 height:20px;
 overflow:hidden;
 background:transparent url(../img/player/skin-3-ui.png) -1006px 0px no-repeat;
 _background-image:url(../img/player/skin-3-ui.gif);
 margin-left:-1px;
 _display:none; /* IE <7 sucks. */
}

.player .ui .right .time {
 float:left;
 display:inline;
 width:3em;
 text-align:center;
 line-height:19px;
 margin:0px 1px 0px 3px;
}

.player .trigger {
 float:left;
 display:inline;
 width:14px;
 height:20px;
}

.player .trigger span {
 display:block;
 height:20px;
}

.player .trigger.prev {
 margin-left:1px;
}

.player .trigger.s0 {
 width:16px;
}

.player .trigger.s1 {
 width:18px;
}

.player .trigger.s2 {
 width:20px;
}

.player .trigger.s3 {
 width:12px;
}

.player .trigger.s4 {
 width:13px;
}

.player .trigger {
 background:transparent;
}

.player .trigger.prev {
}

.player .trigger.help {
    width: 16px;
}

.player .trigger.help span {
 background:transparent url(../img/player/help.png) 0px 2px no-repeat;
 }

.player .trigger.dropdown {
 width:14px;
 margin-right:2px;
}

.player .trigger.dropleft {
 width:14px;
}

.player .trigger.dropright {
 width:14px;
}

.player .trigger.dropdown span {
 background:transparent url(../img/player/down-arr1.png) 3px 7px no-repeat; 
}

.player .trigger.dropleft span {
 background:transparent url(../img/player/left-arr1.png) 3px 7px no-repeat; 
}

.player .trigger.dropright span {
 background:transparent url(../img/player/right-arr1.png) 3px 7px no-repeat; 
}

.player .trigger.prev span {
 background:transparent url(../img/player/btn-prev-1.png) 4px 6px no-repeat;
 /* _background-image:url(../img/player/btn-prev-1.gif); */
}

.player .trigger.next span {
 background:transparent url(../img/player/btn-next-1.png) 3px 6px no-repeat;
 /* _background-image:url(../img/player/btn-next-1.gif); */
}

.player .trigger.loop span {
 background:transparent url(../img/player/loop-light.png) 3px 5px no-repeat;
 opacity:0.5;
 filter:alpha(opacity=50);
}

.player .trigger.loop.active span {
 opacity:1;
 filter:none;
}

.player .trigger.autoplay span {
 background:transparent url(../img/player/autoplay-1-light.png) 2px 5px no-repeat; 
 opacity:0.5;
 filter:alpha(opacity=50);
 _background-image:none;
 _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop src='image/autoplay-1-light.png');
 _margin:5px 0px 0px 2px;
}

.player .trigger.autoplay:hover span {
 background-image:url(../img/player/shuffle.png);
}

.player .trigger.autoplay.active span {
 opacity:1;
 filter:none;
}

.player .trigger.mute span {
 background:transparent url(../img/player/speaker-light.png) 3px 5px no-repeat; 
}

.player .trigger.mute:hover span {
 background-image:url(../img/player/speaker.png);
 opacity:0.75;
}

.player .trigger.mute.active span {
 opacity:0.5;
}

.player .trigger.volume span {
 background:transparent url(../img/player/volume-light.png) 0px 4px no-repeat; 
}

.player .trigger:hover {
 background:transparent url(../img/player/ui-highlight-1.png) -2px 0px no-repeat;
 _background-image:url(../img/player/ui-highlight-1.gif);
 /*_background-position:2px 2px;*/
}

.player .trigger.dropdown:hover>span {
 background-image:url(../img/player/down-arr0.png);
}

.player .trigger.dropleft:hover>span {
 background-image:url(../img/player/left-arr0.png);
}

.player .trigger.dropright:hover>span {
 background-image:url(../img/player/right-arr0.png);
}

.player .trigger.prev:hover>span {
 background-image:url(../img/player/btn-prev.png);
}

.player .trigger.next:hover>span {
 background-image:url(../img/player/btn-next.png); 
}

.player .trigger.loop:hover>span {
 background-image:url(../img/player/loop.png);
}

.player .trigger.autoplay:hover>span {
 background-image:url(../img/player/autoplay-1.png);
}

.player .trigger.mute:hover>span {
 background-image:url(../img/player/speaker.png);
}

.player .trigger.volume:hover>span {
 background-image:url(../img/player/volume.png);
}

.player .dropdown:hover {
 background-position:right 0px;
}

.player .dropleft:hover {
 background-position:right 0px;
}

.player .dropright:hover {
 background-position:right 0px;
}

.more-options {
 position:absolute;
 /*width:256px;*/
 /*overflow:hidden;*/
 /*max-height:33.1em;*/
 width: 156px;
 right:1px;
 top:26px;
 overflow:auto;
 margin-top:-4px;
}

.more-options ul {
 list-style-type:none;
 margin:0px;
 padding:0px;
/* height: 115px;*/
 overflow: auto;
 padding-right:3px; /* space for background */
 zoom:1; /* Even IE 7 needs this (!?) */
}

.track-list ul {
    height: 120px;
}

.more-options ul li {
 line-height:19px;
 height: 19px;
}

.more-options ul li a {
 display:block;
 background:transparent;
 margin-left:2px;
 margin-right:-2px;
 color:#666;
 text-indent:0.25em;
 text-decoration:none;
 width:100%; /* stupid IE 7. */
}

.more-options ul li a span {
 display:block;
 background:#eee;
 border-top:1px solid #fff;
 border-right:1px solid #ccc;
 border-bottom:1px solid #ccc;
 border-left:1px solid #ccc;
}

.more-options ul li.alt a span {
 background:#e0e0e0;
}

.more-options ul li:first-child a span {
 border-top:1px solid #ccc;
}

.more-options ul li:last-child a span {
 border-bottom: none;
}

.more-options ul li a:hover span {
 background-color:#999;
 color:#fff;
}

.more-options ul li a:hover span {
 border-color:transparent;
 _border-color:#ccc;
}

.more-options ul li.highlight a {
 color:#fff;
}

.more-options ul li.highlight a span {
 background:#fff url(../img/player/notreallyajaxandyouknowit-light.gif) no-repeat right 50%;
 color:#333;
 border-left: 1px solid black;
 border-right: 1px solid black;
}

.more-options ul li.highlight a:hover {
 background-color:#999;
 color:#9999ff;
}

.more-options ul li a:focus {
 outline:none;
}

.proxy {
  border: 1px dotted #666;
}

#soundmanager-debug {
 min-width: 400px;
 position:fixed;
 right:2px;
 bottom:18px;
 display:none;
 height:20em;
 overflow:auto;
 /* background:transparent url(../img/player/whiteout.png); */
 padding:1em;
 background:black;
 border: 1px dotted gray;
 color:#fff;
}
#soundmanager-debug div {
 font-size: 9px;
 font-family: lime, vixus, neoxis, monospace, sans-serif;
}
