.position-slider, .range-slider {
    float          : left;
    position       : relative;
    vertical-align : top;
    width          : 70%; 
    height         : 3px;
    margin-top     : 8px;
    cursor         : pointer;
}
.position-slider {
    background     : #cccccc;
    z-index: 999999;
    border         : 1px solid #777777;
}
.range-slider {
    background     : transparent;
    z-index: 3;
    border         : 1px solid transparent;
}
.handle.position {
/*    display        : inline-block;*/
    float          : left;
    position       : relative;
    top            : -5px;
    vertical-align : top;
    background     : url(handle.png);
    width          : 21px;
    height         : 13px;
}
.handle.position.focus {
    background     : url(handle_focus.png);
}
.handle.range {
/*    display        : inline; */
    float          : left;
    position       : relative;
    top            : -17px;
    vertical-align : top;
    width          : 5px;
    height         : 21px;
}
.handle.range.start {
    background : url(range_handle_start.png) no-repeat;
    padding-right: 2px;
}
.handle.range.end {
    background : url(range_handle_end.png) no-repeat;
    padding-left: 2px;
}
div[class*="-button"] {
    float          : left;
    display        : inline;
    position       : relative;
    vertical-align : top;
    width          : 16px;
    height         : 16px;
    cursor         : pointer;
}
.play-button {
    background: url(../../../img/icons/fam/png/control_play.png) no-repeat center center !important;
}
.play-button.hover {
    background: url(../../../img/icons/fam/png/control_play_blue.png) no-repeat center center !important;
}
.pause-button {
    background: url(../../../img/icons/fam/png/control_pause.png) no-repeat center center !important;
}
.pause-button.hover {
    background: url(../../../img/icons/fam/png/control_pause_blue.png) no-repeat center center !important;
}
.pause-button.on {
    background: url(../../../img/icons/fam/png/control_pause_red.png) no-repeat center center !important;
}
.volume-button {
    float: left;
}
.volume-slider {
    float: left;
    vertical-align : top;
    background     : #cccccc;
    width          : 3px;
    margin-left    : 4px;
    margin-right   : 4px;
    height         : 100px;
    border         : 1px solid #777777;
}
.volume-slider .handle {
    display        : inline-block;
    position       : relative;
    left           : -9px;
    vertical-align : top;
    background     : url(handle.png);
    width          : 21px;
    height         : 13px;
}
div[class*="time-"] {
    float: left;
    background: white;
    width: 20px;
    height: 10px;
}
.time-elapsed {
    color: red;
}
.time-duration {
    color: black;
}
.more-options-button {
    background: url(../../../img/icons/fam/png/arrow_down.png) no-repeat center center !important;
}
.more-options-menu {
    width: 16px;
    height: 60px;
}
.single-play-mode-button {
    background: url(../../../img/icons/fam/png/arrow_undo.png) no-repeat center center !important;
    opacity: 0.38;
}
.single-play-mode-button.on {
    opacity: 1.00;
}
.interval-repeat-mode-button {
    background: url(../../../img/icons/fam/png/arrow_refresh.png) no-repeat center center !important;
    opacity: 0.38;
}
.interval-repeat-mode-button.on {
    opacity: 1.00;
}
.aya-repeat-mode-button {
    background: url(../../../img/icons/fam/png/arrow_redo.png) no-repeat center center !important;
    opacity: 0.38;
}
.aya-repeat-mode-button.on {
    opacity: 1.00;
}
.sura-repeat-mode-button {
    background: url(../../../img/icons/fam/png/arrow_rotate_anticlockwise.png) no-repeat center center !important;
    opacity: 0.38;
}
.sura-repeat-mode-button.on {
    opacity: 1.00;
}
.continuous-play-mode-button {
    background: url(../../../img/icons/fam/png/arrow_rotate_clockwise.png) no-repeat center center !important;
    opacity: 0.38;
}
.continuous-play-mode-button.on {
    opacity: 1.00;
}
