.position-slider {
    float: left;
    position       : relative;
    vertical-align : top;
    background     : #cccccc;
    width          : 70%; 
    height         : 3px;
    margin-top     : 4px;
    margin-bottom  : 4px;
    border         : 1px solid #777777;
}
.position-slider .handle {
    display        : inline-block;
    position       : relative;
    top            : -5px;
    vertical-align : top;
    background     : url(handle.png);
    width          : 21px;
    height         : 13px;
}
div[class*="-button"] {
    float: left;
    display        : inline;
    position       : relative;
    vertical-align : top;
    width          : 16px;
    height         : 16px;
    cursor         : pointer;
}
.play-button {
    background: url(../../../img/icons/fam/png/control_play.png) no-repeat center center !important;
}
.play-button.hover {
    background: url(../../../img/icons/fam/png/control_play_blue.png) no-repeat center center !important;
}
.pause-button {
    background: url(../../../img/icons/fam/png/control_pause.png) no-repeat center center !important;
}
.pause-button.hover {
    background: url(../../../img/icons/fam/png/control_pause_blue.png) no-repeat center center !important;
}
.pause-button.on {
    background: url(../../../img/icons/fam/png/control_pause_red.png) no-repeat center center !important;
}
.volume-button {
    float: left;
}
.more-options-button {
    float: left;
}
.volume-slider {
    float: left;
    vertical-align : top;
    background     : #cccccc;
    width          : 3px;
    margin-left    : 4px;
    margin-right   : 4px;
    height         : 50px;
    border         : 1px solid #777777;
}
.volume-slider .handle {
    display        : inline-block;
    position       : relative;
    left           : -9px;
    vertical-align : top;
    background     : url(handle.png);
    width          : 21px;
    height         : 13px;
}
div[class*="time-"] {
    float: left;
    border: 1px solid black;
    width: 20px;
    height: 10px;
}
.time-elapsed {
    color: red;
}
.time-duration {
    color: black;
}
.more-options-menu {
    border: 1px solid black;
    background: gray;
    width: 20px;
    height: 60px;
}
