@import "widgets/accordions.css";
@import "widgets/dialogs.css";
@import "widgets/resizables.css";
@import "widgets/sliders.css";
@import "widgets/sortables.css";
@import "widgets/tabs.css";

#widgets {
    width: 33%;
    height: 66%;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
.widget {
    display     : block;
    font-family : sans-serif;
    font-size   : 11px;
    border      : 1px solid black;
    background    : gray;
}
.widget>.head {
    background : black;
    color      : white;
    height: 20px;
}
.widget>.body {
    color         : black;
    padding       : 1px;
    padding-top   : 2px;
    padding-right : 3px;
    height: 100%;
}
.name-label {
    float: left;
}
.sort-handle {
    width: 20px;
    height: 20px;
    background: white;
    float: right;
}
.drag-handle {
    width: 20px;
    height: 20px;
    background: gray;
    float: right;
}
