@import "screen.css";
@import "icons.css";
@import "widgets.css";

.verse-panel {
  display: inline;
  float: left;
  position: relative;
  left: 0px;
  top: 0px;
}
.verse-panel .h {
  height: 20px;
  background: green;
}
.verse-panel .b {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
  background: #eee;
}
.verse-panel .b * {
  color: #666;
}
.verse-panel .b div.aya {
  margin-bottom: 10px;
}
.verse-panel .b span.aya {
}
.verse-panel .b .aya.active {
  color: black;
}

.verse-panel .f {
  height: 20px;
  background: green;
  margin-top: 1px;
  text-align: center;
}

.verse-panel .f .l,
.verse-panel .f .r {
  height: 100%;
  display: inline;
}
.verse-panel .f .l {
  float: left;
}
.verse-panel .f .r {
  float: right;
}
.verse-panel .f .trigger {
  position: relative;
  z-index: 999999;
  cursor: pointer;
  width: 20px;
  display: inline;
  float: left;
}
.verse-panel .f .trigger a {
color: black;
font-size: 14px;
font-weight: bold;
text-decoration: none;
}
.verse-panel .f .input-text {
width: 20px;
height: 16px;
float: left;
padding-top: 4px;
text-align: center;
}

