    <body scroll="no">
        <%= render :file => 'quran/index.css.erb' %>
        <%= render :file => 'quran/index.js.erb' %>

<div id="x-taskbar">
    <div id="title-bar">Ext 2.0 Windows</div>

    <div id="x-launcher-wrap"><div id="x-launcher-inner"><div id="x-launcher-left"><div id="x-launcher-right"><div id="x-launcher-center"><div id="x-launcher"></div><div id="x-info"><ext:user-name /></div></div></div></div></div></div>
</div>
<div id="x-desktop">
    <div style="padding:15px;">
        Note: This code is considered pre-alpha quality and has not yet been licensed for use.
    </div>
</div>
<div id="x-windows">
    <div id="x-winlist"><div id="spacer"></div></div>
    <div class="x-clear"></div>
</div>

    </body>
